.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

  .app-header {
    margin-bottom: 20px;
    margin-right: 340px; /* Adjust left margin */
    margin-top: 50px; /* Adjust top margin */
    display:flex
  }

.centered-layout {
  width: 100%;
  max-width: 1200px;
}
/* UserProfile.css */

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Adjust the margin as needed */
}

.action-button {
  flex: 1;
  margin-right: 10px; /* Adjust the spacing between buttons as needed */
}


.site-layout-content {
  min-height: 500px;
  padding: 24px;
  background: #fff;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(7, 5, 5, 0.3);
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

[data-theme="dark"] .site-layout-content {
  background: #141414;
}

.download-btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.download-btn:hover {
  background-color: darkblue;
}
